.widget {
  display: flex;
  flex: 1;
  padding: 10px;
  justify-content: space-between;
  -webkit-box-shadow: -1px 1px 12px -5px #000000;
  box-shadow: -1px 1px 12px -5px #000000;
  border-radius: 10px;
  height: 120px;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titles {
  font-weight: bold;
  font-size: 14px;
}

.counters {
  font-size: 28px;
  font-weight: 300;
  color: #000000;
}

.link {
  font-size: 12px;
  border-bottom: 1px solid gray;
  cursor: pointer;
}

.percentage {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.percentage.positive {
  color: green;
}

.percentage.negative {
  color: red;
}

.icon__widget {
  font-size: 23px;
  padding: 5px;

  border-radius: 5px;
  align-self: flex-end;
}
