.cellWrapper {
  display: flex;
  align-items: center;
}

.image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
  cursor: pointer;
}

.status {
  padding: 5px;
  border-radius: 5px;
}

.status.Approved {
  color: green;
  background-color: rgba(33, 202, 33, 0.253);
}

.status.Pending {
  color: goldenrod;
  background-color: rgba(177, 202, 33, 0.253);
}
